<header class="gusto-viewport-full gusto-header" style="background-image: url(http://placehold.it/1920x1080&text=Big-background);">
    <h1 class="gusto-headline gusto-restrict-inner gusto-headline-big">
        Big headline title here
    </h1>
    
    <p class="gusto-sub-heading gusto-restrict-inner">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Donec quis tortor orci. Curabitur et hendrerit quam, ut condimentum felis.
        Aliquam erat volutpat.
    </p>
</header>

<!-- Section: text example. Start. -->
<div class="gusto-section gusto-section-text gusto-restrict-inner">
    <div class="gusto-pull gusto-pull-right gusto-author">
        <figure>
            <img class="gusto-photo gusto-author-photo" src="http://placehold.it/50&text=Face" />
        </figure>        
        <p class="gusto-author-copy">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
            Phasellus vel magna semper, euismod eros eget, interdum mi. Nulla facilisi. 
        </p>
    </div>
    
    
    <h2 class="gusto-headline gusto-headline-medium">
        H2. Medium title here
    </h2>
    
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel magna semper, euismod eros eget, interdum mi.
        Nulla facilisi. Morbi elementum ligula a diam convallis, vel semper arcu dictum. Aenean dictum ut velit ut vulputate.
        Donec id faucibus massa.
    </p>
    
    <p>
        Pellentesque imperdiet pulvinar purus pellentesque rhoncus. Quisque sed molestie risus. Vestibulum tellus justo,
        feugiat vitae venenatis tristique, ultrices et dolor. Praesent finibus mauris lorem, vitae consectetur erat
        fringilla a. Phasellus eu libero gravida, sagittis neque sed.
    </p>
    
    
    <div class="gusto-pull gusto-pull-left">
        <h3 class="gusto-headline gusto-headline-small">
            H3. Small title headline
        </h3>
        
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel magna semper, euismod eros eget, interdum mi. Nulla facilisi.
            Morbi elementum ligula a diam convallis, vel semper arcu dictum. Aenean dictum ut velit ut vulputate. Donec id faucibus massa. 
        </p>
    </div>
</div>
<!-- Section: text example. End. -->


<!-- Section: Photo gallert example. Start. -->
<div class="gusto-section gusto-section-gallery gusto-restrict-outer">
    <img class="gusto-photo gusto-gallary-photo" src="http://placehold.it/300&text=1" />
    <img class="gusto-photo gusto-gallary-photo" src="http://placehold.it/300&text=2" />
    <img class="gusto-photo gusto-gallary-photo" src="http://placehold.it/300&text=3" />
    <img class="gusto-photo gusto-gallary-photo" src="http://placehold.it/300&text=4" />
    <img class="gusto-photo gusto-gallary-photo" src="http://placehold.it/300&text=5" />
    <img class="gusto-photo gusto-gallary-photo" src="http://placehold.it/300&text=6" />
</div>
<!-- Section: Photo gallert example. End. -->


<!-- Section: text example. Start. -->
<div class="gusto-section gusto-section-text gusto-restrict-inner">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel magna semper, euismod eros eget, interdum mi.
        Nulla facilisi. Morbi elementum ligula a diam convallis, vel semper arcu dictum. Aenean dictum ut velit ut vulputate.
        Donec id faucibus massa.
    </p>
    
    <p>
        Pellentesque imperdiet pulvinar purus pellentesque rhoncus. Quisque sed molestie risus. Vestibulum tellus justo,
        feugiat vitae venenatis tristique, ultrices et dolor. Praesent finibus mauris lorem, vitae consectetur erat
        fringilla a. Phasellus eu libero gravida, sagittis neque sed.
    </p>
    
    
    <div class="gusto-pull gusto-pull-left">
        <h3 class="gusto-headline gusto-headline-small">
            H3. Small title headline
        </h3>
        
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel magna semper, euismod eros eget, interdum mi. Nulla facilisi.
            Morbi elementum ligula a diam convallis, vel semper arcu dictum. Aenean dictum ut velit ut vulputate. Donec id faucibus massa. 
        </p>
    </div>
</div>
<!-- Section: text example. End. -->


<!-- Section: text example. Start. -->
<div class="gusto-section gusto-section-text gusto-restrict-inner">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel magna semper, euismod eros eget, interdum mi.
        Nulla facilisi. Morbi elementum ligula a diam convallis, vel semper arcu dictum. Aenean dictum ut velit ut vulputate.
        Donec id faucibus massa.
    </p>
    
    <p>
        Pellentesque imperdiet pulvinar purus pellentesque rhoncus. Quisque sed molestie risus. Vestibulum tellus justo,
        feugiat vitae venenatis tristique, ultrices et dolor. Praesent finibus mauris lorem, vitae consectetur erat
        fringilla a. Phasellus eu libero gravida, sagittis neque sed.
    </p>
    
    
    <div class="gusto-pull gusto-pull-right">
        <h3 class="gusto-headline gusto-headline-small">
            H3. Small title headline
        </h3>
        
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel magna semper, euismod eros eget, interdum mi. Nulla facilisi.
            Morbi elementum ligula a diam convallis, vel semper arcu dictum. Aenean dictum ut velit ut vulputate. Donec id faucibus massa. 
        </p>
    </div>

    <p>
        Pellentesque imperdiet pulvinar purus pellentesque rhoncus. Quisque sed molestie risus. Vestibulum tellus justo,
        feugiat vitae venenatis tristique, ultrices et dolor. Praesent finibus mauris lorem, vitae consectetur erat
        fringilla a. Phasellus eu libero gravida, sagittis neque sed.
    </p>
    
    <p>
        Pellentesque imperdiet pulvinar purus pellentesque rhoncus. Quisque sed molestie risus. Vestibulum tellus justo,
        feugiat vitae venenatis tristique, ultrices et dolor. Praesent finibus mauris lorem, vitae consectetur erat
        fringilla a. Phasellus eu libero gravida, sagittis neque sed.
    </p>
    
</div>
<!-- Section: text example. End. -->


<!-- Section: Video showcase example. Start. -->
<figure class="gusto-section gusto-section-full gusto-section-video">
    <!--    <img class="gusto-video gusto-video-fullwidth" src="http://placehold.it/1920x1080?text=video" />-->
        
    <video
        class="gusto-video gusto-video-fullwidth"
        poster="//i.guim.co.uk/static/w-640/h-360/q-95/sys-images/Guardian/Pix/pictures/2015/3/18/1426688410783/Cucumber-001.jpg" data-duration="334" data-media-id="gu-video-456024387" data-end-slate="/video/end-slate/series/travel/series/singapore-city-guide.json?shortUrl=http://gu.com/p/46mah"
        preload="auto"
        controls="controls"
    >
        <source src="http://cdn.theguardian.tv/HLS/2015/03/18/150317SingaporeStreetFood.m3u8" type="video/m3u8">
        <source src="http://cdn.theguardian.tv/mainwebsite/2015/03/18/150317SingaporeStreetFood_desk.mp4" type="video/mp4">
        <source src="http://cdn.theguardian.tv/3gp/large/2015/03/18/150317SingaporeStreetFood_large.3gp" type="video/3gp:large">
        <source src="http://cdn.theguardian.tv/3gp/small/2015/03/18/150317SingaporeStreetFood_small.3gp" type="video/3gp:small">
        <source src="http://cdn.theguardian.tv/webM/2015/03/18/150317SingaporeStreetFood_synd_768k_vp8.webm" type="video/webm">
    </video>
    
    <figcaption class="gusto-caption gusto-restrict-outer">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel magna semper, euismod eros eget, interdum mi.
        Nulla facilisi
    </figcaption>
</figure>
<!-- Section: Photo gallert example. End. -->

<!-- Section: text example. Start. -->
<div class="gusto-section gusto-section-text gusto-restrict-inner">
    <h2 class="gusto-headline gusto-headline-medium">
        H2. Medium title here
    </h2>
    
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel magna semper, euismod eros eget, interdum mi.
        Nulla facilisi. Morbi elementum ligula a diam convallis, vel semper arcu dictum. Aenean dictum ut velit ut vulputate.
        Donec id faucibus massa.
    </p>
    
    <div class="gusto-pull gusto-pull-left">
        <h3 class="gusto-headline gusto-headline-small">
            H3. Small title headline
        </h3>
        
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel magna semper, euismod eros eget, interdum mi. Nulla facilisi.
            Morbi elementum ligula a diam convallis, vel semper arcu dictum. Aenean dictum ut velit ut vulputate. Donec id faucibus massa. 
        </p>
    </div>
    
    <p>
        Pellentesque imperdiet pulvinar purus pellentesque rhoncus. Quisque sed molestie risus. Vestibulum tellus justo,
        feugiat vitae venenatis tristique, ultrices et dolor. Praesent finibus mauris lorem, vitae consectetur erat
        fringilla a. Phasellus eu libero gravida, sagittis neque sed.
    </p>
</div>
<!-- Section: text example. End. -->



<!-- Section: text example. Start. -->
<div class="gusto-section gusto-section-text gusto-restrict-outer">
    <h2 class="gusto-headline gusto-headline-medium">
        Full image edge touch no-clip
    </h2>
</div>
<!-- Section: text example. End. -->

<!-- Section: Photo full-width example. Start. -->
<div class="gusto-section gusto-section-photo">
    <img class="gusto-photo gusto-photo-fullwidth gusto-edge-noclip" src="http://placehold.it/1920x1080?text=full-screen" />
    <figcaption class="gusto-caption gusto-restrict-inner">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel magna semper, euismod eros eget, interdum mi.
        Nulla facilisi
    </figcaption>
</div>
<!-- Section: Photo gallert example. End. -->




<!-- Section: text example. Start. -->
<div class="gusto-section gusto-section-text gusto-restrict-outer">
    <h2 class="gusto-headline gusto-headline-medium">
        Full image edge touch clip
    </h2>
</div>
<!-- Section: text example. End. -->


<!-- Section: Photo full-width example. Start. -->
<div class="gusto-section gusto-section-photo gusto-edge-clip-container">
    <img class="gusto-photo gusto-photo-fullwidth gusto-edge-clip" src="http://placehold.it/1920x1080?text=full-screen" />
    <figcaption class="gusto-caption gusto-restrict-inner">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel magna semper, euismod eros eget, interdum mi.
        Nulla facilisi
    </figcaption>
</div>
<!-- Section: Photo gallert example. End. -->



<!-- Section: Photo full-width example. Start. -->
<div class="gusto-section gusto-section-photo gusto-edge-clip-container">
    <img class="gusto-photo gusto-photo-fullwidth gusto-edge-clip gusto-edge-clip-anim" src="http://placehold.it/1920x1080?text=full-screen" />
    <figcaption class="gusto-caption gusto-restrict-inner">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel magna semper, euismod eros eget, interdum mi.
        Nulla facilisi
    </figcaption>
</div>
<!-- Section: Photo gallert example. End. -->


<!-- Section: text example. Start. -->
<div class="gusto-section gusto-section-text gusto-restrict-inner">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel magna semper, euismod eros eget, interdum mi.
        Nulla facilisi. Morbi elementum ligula a diam convallis, vel semper arcu dictum. Aenean dictum ut velit ut vulputate.
        Donec id faucibus massa.
    </p>
    
    <p>
        Pellentesque imperdiet pulvinar purus pellentesque rhoncus. Quisque sed molestie risus. Vestibulum tellus justo,
        feugiat vitae venenatis tristique, ultrices et dolor. Praesent finibus mauris lorem, vitae consectetur erat
        fringilla a. Phasellus eu libero gravida, sagittis neque sed.
    </p>
</div>
<!-- Section: text example. End. -->


<h1>~~ END OF DUMMY CONTENT ~~</h1>
<hr />
<h1>~~ ArchieML content ~~</h1>


{{#pageBlocks}}
    
    {{#block == 'copy'}}<copyBlock />{{/block}}
    {{#block == 'image'}}<imageBlock />{{/block}}
    {{#block == 'lead'}}<leadBlock />{{/block}}
    {{#block == 'pull'}}<pullBlock />{{/block}}
    

{{/pageBlocks}}