<div class='podcastPlayer podcastPlayer--{{block}}' on-click='triggerPlayPause'>
	<audio decorator=''>
		<source src="{{src}}" type="audio/mpeg">
	</audio>
	<div class='playerBtn {{#isPlaying}}playerIsPlaying{{/isPlaying}}'>
		<svg x="0px" y="0px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
			<circle fill="#dfdfdf" cx="50" cy="50" r="50"/>
			<g transform="translate(50,50)">
				{{#percentPlayed > 0 && duration != 0}}
					<polygon fill='#333333' points='{{ getSegmentPoints( percentPlayed, 44, 48, 0 ) }}'>
				{{/percentPlayed}}
			</g>
			<circle class="svgButtonCircle" fill="#ffbb00" cx="50" cy="50" r="44"/>
			<polygon fill="#333333" class='guPause' points="45.9,65.5 37.6,65.5 37.6,34.5 39.6,32.5 45.9,32.5 "/>
			<polygon fill="#333333" class='guPause' points="62.4,63.5 60.4,65.5 54.1,65.5 54.1,32.5 62.4,32.5 "/>
			<polygon fill="#333333" class='guPlay' points="72.2,49.3 38.1,35.2 36.9,36.1 36.9,63.9 38.1,64.8 72.2,50.7 "/>
		</svg>

		{{#duration != 0}}<div class='guTimer f-textSans'>{{calcTimeRemaining}}</div>{{/duration}}

	</div>
</div>



<style>

.podcastPlayer {
	display: block;
	cursor: pointer;
}

.podcastPlayer:hover .svgButtonCircle {
	fill: #ffcc11;
}

audio {
	display: none;
}

.playerBtn svg {
	width: 50px;
	height: 50px;
}

.guTimer {
	color: #767676;
	font-size: 14px;
	display: block;
	text-align: center;
	width: 100%;
	font-family: 'Guardian Text Sans Web', 'Agate Sans', Arial;
}

/* player states */
.guPause { display: none; }
.playerIsPlaying .guPause { display: block; }
.playerIsPlaying .guPlay { display: none; }

/* gallery version */
.podcastPlayer--gallery {
	float: right;
	padding-left: 10px;
}
/* responsive styles */
@media (min-width: 980px){
	.podcastPlayer--gallery {
		width: 40px;
		position: absolute;
		top: 10px;
		left: 0;
		padding-left: 0;
		padding-right: 10px;
	}

	.podcastPlayer--gallery .playerBtn svg {
		width: 30px;
		height: 30px;
	}
	.podcastPlayer--gallery .guTimer {
		font-size: 13px;
	}
}

</style>

<script>

var convertTime = function(time){
					//convert seconds to MM:SS format
					var minutes = Math.floor(time / 60);
					var seconds = Math.floor(time - (minutes * 60));
					if(seconds < 10 ){
						seconds = "0"+ seconds.toString();
					}
					return minutes + ':' + seconds;
				}


component.exports = {

	data: {
			canPlay: false,
			duration: 0, // seconds long audio file
			position: 0, // current play position in seconds
			currentPosition: 0,  //seconds that have played

			getSegmentPoints: function ( pct, innerRadius, outerRadius, c ) {
							 // get an SVG points list for the segment
				var points = [], i, angle, start, end, getPoint;

				start = 0;
				end = 2 * (Math.PI)  * pct;

				getPoint = function ( angle, radius ) {
				return ( ( radius * Math.sin( angle ) ).toFixed( 2 ) + ',' + ( radius * -Math.cos( angle ) ).toFixed( 2 ) );
				};

				// get points along the outer edge of the segment
				for ( angle = start; angle < end; angle += 0.05 ) {
				points[ points.length ] = getPoint( angle, outerRadius );
				}

				points[ points.length ] = getPoint( end, outerRadius );

				// get points along the inner edge of the segment
				for ( angle = end; angle > start; angle -= 0.05 ) {
				points[ points.length ] = getPoint( angle, innerRadius );
				}

				points[ points.length ] = getPoint( start, innerRadius );

				// join them up as an SVG points list
				return points.join( ' ' );
			}

	},
	computed: {
		calcDuration: function(){
			var d = this.get('duration')
			return convertTime(d);
		},
		calcPosition: function(){
			var d = this.get('position')
			return convertTime(d);
		},

		calcTimeRemaining: function(){
			var d = this.get('duration') - this.get('position');
			return convertTime(d);
		},
		percentPlayed: function(){
			return this.get('position') / this.get('duration') ;
		}

	},
	onrender: function(){
		//component reference
		var that = this;
		var isMouseDown = false;
		//player reference
		var audioPlayer = this.find('audio');

		audioPlayer.onloadeddata = function(e){

			that.set('canPlay', true);

			if(audioPlayer.duration != NaN && audioPlayer.duration != Infinity){
				that.set('duration', audioPlayer.duration);
			}

		}
		audioPlayer.ontimeupdate = function(e){
			if(audioPlayer.duration != NaN && audioPlayer.duration != Infinity && audioPlayer.duration != 0){
				that.set('position', audioPlayer.currentTime)
			}


		}
		audioPlayer.onended = function(e){
			that.toggle('isPlaying');
		}




		//assigh events
		this.on({
			triggerPlayPause: function(e){
				this.toggle('isPlaying')
			},



		})
		this.observe('isPlaying', function(state){
			if(state == true){
				audioPlayer.play();
				if(!that.get('hasPlayed')){
					that.set('hasPlayed', true)
				}
			} else {
				audioPlayer.pause();
			}
		})



		//audioPlayer.play();
	}

}

</script>