<div class="{{class}}">
	<div class='gusto-audio-player'>
		<div class='column-left'>
			<audioPlayer />
		</div>
		<div class='column-right'>
			<h2 class='gusto-headline-medium'>{{headline}}</h2>
			<p>{{copy}}</p>
		</div>
	</div>
</div>



<style>

.gusto-audio-player {
	width: 100%;
	background: #eaeaea;
	overflow: auto;
	padding: 20px 0;
	display: table;

}

.column-left {
	width: 100px;
	display: table-cell;
}
.column-right {
	max-width: 640px;
	display: table-cell;
	vertical-align: middle;
	border-left: 1px solid #dcdcdc;
	padding-left: 20px;
}


</style>