<!-- Section: Photo gallert example. Start. -->
<figure class="{{#swipe}} swipe {{/swipe}}">

    {{ #headline }}
    <div class='gusto-section-header {{ #audio }}gusto-section-header-has-audio{{ /audio }}'>
      {{ #audio }}<audioPlayer />{{ /audio }}
      <h2 class='gusto-headline gusto-headline-border-top gusto-headline-medium'>{{ headline }}</h2>
      <p>{{ caption }}</p>
    </div>
    {{ /headline }}

    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">


            {{ #images }}
                <div class="swiper-slide">
                  <figure class="swiper-slide-inner" style="width: {{ 100 / columns }}%;">
                    <img class="gusto-photo gusto-gallery-photo"
                         decorator='lazyload:{src:{{src}},imgSizes:{{size}},srcAlt:{{src_alt}}, type: "image" }'
                           alt="{{ alt }}" />

                    {{ #caption }}
                      <figcaption class="gusto-caption">
                          {{{ caption }}}
                      </figcaption>
                  	{{ /caption }}
                  </figure>
                </div>
            {{ /images }}


        </div>

        <div class="swiper-pagination"></div>


        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev">
          <svg x="0px" y="0px" width="15px" height="30px" viewBox="0 0 15 30">
            <g transform='rotate(180) translate(-15, -30)'>
              <polygon fill="#FFFFFF" points="0.2,2.1 11,15 0.2,27.9 1.5,29.2 13.1,17.5 13.1,17.5 15,15.7 15,14.3 13.1,12.5 1.5,0.8 " />
            </g>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg x="0px" y="0px" width="15px" height="30px" viewBox="0 0 15 30">
            <polygon fill="#FFFFFF" points="0.2,2.1 11,15 0.2,27.9 1.5,29.2 13.1,17.5 13.1,17.5 15,15.7 15,14.3 13.1,12.5 1.5,0.8 " />
          </svg>
        </div>

    </div>

    {{ #caption && !headline }}
    <figcaption class="gusto-caption  gusto-restrict-inner left-column">
        {{{ caption }}}
    </figcaption>
	{{ /caption }}


</figure>
<!-- Section: Photo gallert example. End. -->
<script>
  component.exports = {
      oncomplete : function(){
        var el = this.fragment.items[0].node;

        // Wrapping HTML in an {{if}} breaks fragment node using this instead
        if (this.get('exclude') && this.get('exclude') === 'web') {
          el.innerHTML = '';
          return;
        }

        var mySwiper;
        if(!el) {  return ;}


        var swipEl = el.querySelector('.swiper-container');

        function isNarrow() {
          return window.innerWidth < 660;
        }

        function addSwiper() {
          el.classList.add('swipe');
          mySwiper = new Swiper(swipEl, {
            direction: 'horizontal',
            loop: false,
            pagination: el.querySelector('.swiper-pagination'),
            nextButton: el.querySelector('.swiper-button-next'),
            prevButton: el.querySelector('.swiper-button-prev'),
            onResize: function() {
              console.log(window.innerWidth);
            }
          });
        }

        function initSwiper() {
          var hasClass = el.classList.contains('swipe');
          if (isNarrow() && !hasClass) {
            addSwiper();
          }

          if (!isNarrow() && hasClass) {
            mySwiper.destroy(true, true);
            el.classList.remove('swipe');
          }
        }

        initSwiper();

        // Toggle swipe based on viewport width
        window.addEventListener('resize', initSwiper, false);
    }
  };
</script>