<!-- Section: Photo gallert example. Start. -->
<figure class="gusto-section gusto-section-gallery {{ class }} {{^class}}gusto-restrict-outer{{/class}} {{#swipe}} swipe {{/swipe}}">
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            
                
            {{ #photos }}
                <div class="swiper-slide">
                    <img class="gusto-photo gusto-gallary-photo"
                         decorator='lazyload:{src:{{src}},imgSizes:[] }'
                         alt="{{ alt }}"
                         style="{{^swipe}} width: {{ 100 / columns }}%; {{/swipe}}" />
                </div>
            {{ /photos }}        
        </div>
     
        
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
     
    </div>

    {{ #caption }}
    <figcaption class="gusto-caption gusto-restrict-outer">
        {{{ caption }}}
    </figcaption>
	{{ /caption }}
    
    
</figure>
<!-- Section: Photo gallert example. End. -->




<script>
  component.exports = {
      oncomplete : function(){
        console.log();
        var el = this.fragment.items[0].node;
        if (!this.get().swipe) {
          return;
        }          
        var swipEl = el.querySelector('.swiper-container');
        
        var mySwiper = new Swiper(swipEl, {
          direction: 'horizontal',
          loop: false,
          // pagination: '.swiper-pagination',
          nextButton: el.querySelector('.swiper-button-next'),
          prevButton: el.querySelector('.swiper-button-prev')
        });
    }
  };
  
  </script>