<header 
    class="gusto-viewport-full gusto-header"
    decorator='lazyload:{src:{{src}},imgSizes:{{size}},srcAlt:{{src_alt}}, bgImg:true}'
>

    <div class='gusto-header-content'>
        <div class="gusto-header-content-inner {{text_style}}">
            <h1 class="gusto-headline gusto-headline-big">
                {{ headline }}
            </h1>
            
        	{{ #each copy.replace(/[\r\n]+/g, '\n').split('\n') }}
                <p class="gusto-sub-heading">
                   {{{ this.trim() }}}
                </p>
        	{{ /each }}
        </div>
    </div>

</header>