<header 
    class="gusto-viewport-full gusto-header"
    {{#if type==='image' }}decorator='lazyload:{src:{{src}},imgSizes:{{size}},srcAlt:{{src_alt}}, bgImg:true, type: "image"}'{{/if}}
>

    {{#if type==='video' }}
        <video  class="gusto-video gusto-header-video"
                preload="none"
                autoplay="autoplay"
                loop="loop"
                decorator='lazyload:{src:{{src}}, type:"video" }'>
        </video>
    {{/if}}


    <div class='gusto-header-content'>
        <div class="gusto-header-content-inner {{text_style}}">
            <h3 class="gusto-kicker">
                {{ kicker }}
            </h3>            <h1 class="gusto-headline gusto-headline-big">
                {{ headline }}
            </h1>
            
        	{{ #each copy.replace(/[\r\n]+/g, '\n').split('\n') }}
                <p class="gusto-sub-heading">
                   {{{ this.trim() }}}
                </p>
        	{{ /each }}
        </div>
    </div>

</header>