<!-- Section: Photo full-width example. Start. -->
<figure class="gusto-image gusto-image--{{class}} {{size}}">
	{{ #headline }}
    <div class='gusto-section-header {{ #audio }}gusto-section-header-has-audio{{ /audio }}'>
      {{ #audio }}<audioPlayer />{{ /audio }}
		<h2 class='gusto-headline gusto-headline-medium gusto-headline-border-top'>{{ headline }}</h2>
		<p>{{ caption }}</p>
	</div>
	{{ /headline }}
	<img class="gusto-photo {{ elmclass }}"
		 decorator='lazyload:{src:{{src}},imgSizes:{{size}},srcAlt:{{src_alt}}, type: "image" }'
		 alt="{{ alt }}" />

	{{ ^headline }}
	    <figcaption class="gusto-caption gusto-inner-body">
	       {{ caption }}
	    </figcaption>
    {{ /headline }}

</figure>
<!-- Section: Photo gallert example. End. -->

<script>

component.exports = {

	onrender: function(){
        var img = this.find('img');
        var width = this.find('img').getBoundingClientRect().width;
        var size = this.get('size');
        var height = '';

        if (size === 'horizontal3x4') {
            height = (width * 0.73) + 'px';
        }

        img.setAttribute('height', height);
    }
}

</script>
