<!-- Section: Photo full-width example. Start. -->
<figure class="gusto-section gusto-section-photo">
	<div class=" {{ class }}">
		{{ #headline }}
		<div class='gusto-section-header'>
			<h2 class='gusto-headline gusto-headline-medium'>{{ headline }}</h2>
			<p>{{ caption }}</p>
		</div>
		{{ /headline }}
    	<img class="gusto-photo {{ elmclass }}"
			 decorator='lazyload:{src:{{src}},imgSizes:{{size}},srcAlt:{{src_alt}} }'
			 alt="{{ alt }}" />
	</div>
	{{ ^headline }}
	    <figcaption class="gusto-caption gusto-restrict-inner">
	       {{ caption }}
	    </figcaption>
    {{ /headline }}
</figure>
<!-- Section: Photo gallert example. End. -->