<div class="gusto-section gusto-restrict-outer gusto-section-flex mode-{{mode}}" >


<div class='gu-graphic-view' id='gu-graphic-view-0' >
<div class='gu-graphic-view-step gu-graphic-view-step-0' id='gu-graphic-view-step-0' >
<div class='gu-graphic-view-region gu-graphic-view-region-0' id='gu-graphic-view-region-0' style='width:100%;' >
<img class='main-background-image' src='@@assetPath@@/imgs/20150529_migration_arrows_responsive-0-0-0.png' />
		<div id='gu-g1' class='gu-position' style='left:26.7741935483871%;width:11.3159967237903%;top:59.8154278285426%;'>
			<p class='gu-p0'>Niamey</p>
		</div>
		<div id='gu-g2' class='gu-position' style='right:32.741935483871%;top:56.5975092428299%;'>
			<p class='gu-p1'>Khartoum</p>
		</div>
		<div id='gu-g3' class='gu-position' style='left:41.1290322580645%;top:53.3795906571171%;'>
			<p class='gu-p2'>Agadez</p>
		</div>
		<div id='gu-g4' class='gu-position' style='right:70.9677419354839%;top:52.6224333428318%;'>
			<p class='gu-p1'>Gao</p>
		</div>
		<div id='gu-g5' class='gu-position' style='left:41.2903225806452%;width:9.79334677419355%;top:25.7433486857019%;'>
			<p class='gu-p0'>Tripoli</p>
		</div>
		<div id='gu-g6' class='gu-position' style='left:27.4193548387097%;top:24.0397447285598%;'>
			<p class='gu-p2'>Melilla</p>
		</div>
		<div id='gu-g7' class='gu-position' style='right:77.4193548387097%;top:23.2825874142745%;'>
			<p class='gu-p1'>Ceuta</p>
		</div>
		<div id='gu-g8' class='gu-position' style='right:65%;top:44.1044135571216%;'>
			<p class='gu-p1'>Tamanrasset</p>
		</div>
		<div id='gu-g9' class='gu-position' style='right:24.6774193548387%;top:64.9262396999687%;'>
			<p class='gu-p1'>Addis</p>
			<p class='gu-p1'>Ababa</p>
		</div>
</div></div>
</div>
<div class='gu-graphic-view' id='gu-graphic-view-1' >
<div class='gu-graphic-view-step gu-graphic-view-step-0' id='gu-graphic-view-step-0' >
<div class='gu-graphic-view-region gu-graphic-view-region-0' id='gu-graphic-view-region-0' style='width:100%;' >
<img class='main-background-image' src='@@assetPath@@/imgs/20150529_migration_arrows_responsive-1-0-0.png' />
		<div id='gu-g1' class='gu-position' style='right:25.1162790697674%;top:65.4662451973649%;'>
			<p class='gu-p0'>Addis</p>
			<p class='gu-p0'>Ababa</p>
		</div>
		<div id='gu-g2' class='gu-position' style='right:67.093023255814%;top:60.5231217110077%;'>
			<p class='gu-p0'>Niamey</p>
		</div>
		<div id='gu-g3' class='gu-position' style='right:32.2093023255814%;top:57.991277974093%;'>
			<p class='gu-p0'>Khartoum</p>
		</div>
		<div id='gu-g4' class='gu-position' style='right:60.6976744186046%;top:54.4949223374013%;'>
			<p class='gu-p0'>Agadez</p>
		</div>
		<div id='gu-g5' class='gu-position' style='right:70%;top:54.9771782872898%;'>
			<p class='gu-p0'>Gao</p>
		</div>
		<div id='gu-g6' class='gu-position' style='left:44.5348837209302%;top:32.1905846550579%;'>
			<p class='gu-p1'>Tripoli</p>
		</div>
		<div id='gu-g7' class='gu-position' style='left:27.5581395348837%;top:30.0204328805596%;'>
			<p class='gu-p1'>Melilla</p>
		</div>
		<div id='gu-g8' class='gu-position' style='right:76.9767441860465%;top:28.8147930058383%;'>
			<p class='gu-p0'>Ceuta</p>
		</div>
		<div id='gu-g9' class='gu-position' style='right:64.1860465116279%;top:47.2610830890737%;'>
			<p class='gu-p0'>Tamanrasset</p>
		</div>
</div></div>
</div>
<div class='gu-graphic-view' id='gu-graphic-view-2' >
<div class='gu-graphic-view-step gu-graphic-view-step-0' id='gu-graphic-view-step-0' >
<div class='gu-graphic-view-region gu-graphic-view-region-0' id='gu-graphic-view-region-0' style='width:100%;' >
<img class='main-background-image' src='@@assetPath@@/imgs/20150529_migration_arrows_responsive-2-0-0.png' />
		<div id='gu-g1' class='gu-position' style='left:31.2152501985703%;top:59.504940097776%;'>
			<p class='gu-p0'>Niamey</p>
		</div>
		<div id='gu-g2' class='gu-position' style='right:31.3741064336775%;top:57.7324525203955%;'>
			<p class='gu-p1'>Khartoum</p>
		</div>
		<div id='gu-g3' class='gu-position' style='left:40.9054805401112%;top:54.7783065580945%;'>
			<p class='gu-p0'>Agadez</p>
		</div>
		<div id='gu-g4' class='gu-position' style='right:69.9761715647339%;top:54.9471148987974%;'>
			<p class='gu-p1'>Gao</p>
		</div>
		<div id='gu-g5' class='gu-position' style='left:44.6386020651311%;top:31.3139472003899%;'>
			<p class='gu-p0'>Tripoli</p>
		</div>
		<div id='gu-g6' class='gu-position' style='left:27.4821286735504%;top:28.7818220898463%;'>
			<p class='gu-p0'>Melilla</p>
		</div>
		<div id='gu-g7' class='gu-position' style='right:76.7275615567911%;top:28.1065887270346%;'>
			<p class='gu-p1'>Ceuta</p>
		</div>
		<div id='gu-g8' class='gu-position' style='right:64.0190627482129%;top:46.5911020340034%;'>
			<p class='gu-p1'>Tamanrasset</p>
		</div>
		<div id='gu-g9' class='gu-position' style='right:24.3844320889595%;top:65.4132320223779%;'>
			<p class='gu-p1'>Addis</p>
			<p class='gu-p1'>Ababa</p>
		</div>
</div></div>
</div>
	</div>


<style type='text/css' media='screen,print'>
html, body {
	padding:0;
	-webkit-font-smoothing:antialiased;
	margin:0;
}
.gu-position{
	position:absolute;
}
.gu-graphic {
	position:relative;
	height: auto%;
	margin:0;
}
.gu-fadeable {
	opacity: 0;
}
.gu-fade-in {
	opacity: 1;
	transition: opacity .5s;
	-moz-transition: opacity .5s;
	-ms-transition: opacity .5s;
	-o-transition: opacity .5s;
	-webkit-transition: opacity .5s;
}
.gu-graphic .gu-graphic-view-region {
	position:relative;
	height: auto%;
	display: inline-block;
	margin:0;
	padding:0;
	background-repeat:no-repeat;
	background-size:100%;
	vertical-align:top;
}
.gu-graphic-header {
	position:relative;
	height:64px;
	border-top:2px solid #f0f0f0;
	padding-bottom:10px;
}
.gu-graphic-header h1 {
	padding:5px 0 0 0;
	margin:0;
	font-family:'Guardian Egyptian Web', Georgia, serif;
	font-size:20px;
	font-weight:600;
	line-height: 20px;
	color: #000;
}
.gu-graphic-header h2 {
	padding:5px 0 0 0;
	margin:0;
	font-family:'Guardian Egyptian Web', Georgia, serif;
	font-size:25px;
	font-weight:600;
	line-height: 25px;
	color: #808080;
}
.gu-graphic-header #gu-progress-counter {
	position:absolute;
	right:0;
	top:5px;
	font-family:'Guardian Text Sans Web', Arial, sans-serif;
	font-size:12px;
	font-weight:400;
	line-height: 12px;
	color: #808080;
}
.gu-graphic-header #gu-progress-counter span {
	color: #000;
}
.gu-graphic-header #gu-progress {
	width:100%;
	margin:6px 0 4px 0;
	height: 1px;
	background-color: #dcdcdc;
	position: relative;
}
.gu-graphic-header #gu-progress-inner {
	width:0%;
	margin:0;
	height: 1px;
	background-color: #000;
	position: absolute;
}
.gu-graphic-footer {
	position:relative;
	height:34px;
	border-top:2px solid #f0f0f0;
	margin-top:10px;
}

.gu-graphic-footer p {
	padding:8px 0 0 0;
	margin:0;
	font-family:'Guardian Text Sans Web', Arial, sans-serif;
	font-size:13px;
	line-height: 13px;
	color: #767676;
	display: inline-block;
}
.gu-graphic-footer p:nth-of-type(2) {
	float:right;
}

p {
	font-size:12px;
	line-height:1.35em;
	font-weight:normal;
	font-style:normal;
	margin:0;
}

p span {
	font-family:'Guardian Text Sans Web', Arial, sans-serif;
	font-weight:600;
	color:#000;
}

.tooltip-enabled:before,

.tooltip-enabled:after {
	visibility: hidden;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
	font-family:'Guardian Agate Sans', Arial, sans-serif;
}

.tooltip-enabled:before {
	position: absolute;
	bottom: 150%;
	left: -50%;
	margin-left: -70px;
	width: 160px;
	padding: 10px;
	background-color: #fff;
	color: #333;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	z-index: 2;
	border: 1px solid #dfdfdf;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 0px 0px 8px #dfdfdf;
	margin-bottom: 8px;
}

.tooltip-enabled:after {
	position: absolute;
	bottom: 150%;
	left: 0;
	margin-left: -50%;
	width: 0;
	border-top: 9px solid #fff;
	border-right: 9px solid transparent;
	border-left: 9px solid transparent;
	content: ' ';
	font-size: 0;
	line-height: 0;
	z-index: 3;
}

.tooltip-enabled:hover:before,

.tooltip-enabled:hover:after {
	visibility: visible;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	pointer-events: none;
}

.marker {
	position:absolute;
	width:10px;
	height:10px;
	background-color:#ff0000;
	border: 2px solid #fff;
	border-radius:50%;
	margin: -5px 0 0 -5px;
	cursor: pointer;
}

.number-marker {
	position:absolute;
	width:25px;
	height:25px;
	background-color:#ff0000;
	border: 2px solid #fff;
	border-radius:50%;
	margin: -5px 0 0 -5px;
	cursor: pointer;
}

.number-marker p {
	position:relative;
	width:100%;
	color:#ffffff;
	font-family:'Guardian Egyptian Web', Georgia, serif;
	font-size:16px;
	line-height: 16px;
	text-align: center;
	padding-top: 5px;
}

.box-overlay {
	position:absolute;
	background-size:100%;
	background-repeat:no-repeat;
	white-space: nowrap;
}

.box-overlay p {
	line-height:1.35em!important;
}

.complex-marker {
	position:absolute;
}

.complex-marker img {
	width:100%;
}

#gu-graphic-view-0 {
	position:relative;
	width: 100%;
	margin:0;
}

#gu-graphic-view-0 .main-background-image {
	position:relative;
	width: 100%;
	margin:0;
	vertical-align:top;
}

#gu-graphic-view-0 .gu-graphic-view-step {
	position:relative;
	width: 100%;
	height: auto%;
	margin:0;
}

#gu-graphic-view-0 #gu-graphic-view-step-0 .gu-p0 {
	font-family:'Guardian Text Sans Web', Arial, sans-serif;
	font-size:16px;
	line-height:17px;
	font-weight:400;
	text-align:center;
	color:#767676;
}

#gu-graphic-view-0 #gu-graphic-view-step-0 .gu-p1 {
	font-family:'Guardian Text Sans Web', Arial, sans-serif;
	font-size:16px;
	line-height:17px;
	font-weight:400;
	text-align:right;
	color:#767676;
}

#gu-graphic-view-0 #gu-graphic-view-step-0 .gu-p2 {
	font-family:'Guardian Text Sans Web', Arial, sans-serif;
	font-size:16px;
	line-height:17px;
	font-weight:400;
	color:#767676;
}

#gu-graphic-view-1 {
	position:relative;
	width: 100%;
	margin:0;
}

#gu-graphic-view-1 .main-background-image {
	position:relative;
	width: 100%;
	margin:0;
	vertical-align:top;
}

#gu-graphic-view-1 .gu-graphic-view-step {
	position:relative;
	width: 100%;
	height: auto%;
	margin:0;
}

#gu-graphic-view-1 #gu-graphic-view-step-0 .gu-p0 {
	font-family:'Guardian Text Sans Web', Arial, sans-serif;
	font-size:16px;
	line-height:17px;
	font-weight:400;
	text-align:right;
	color:#767676;
}

#gu-graphic-view-1 #gu-graphic-view-step-0 .gu-p1 {
	font-family:'Guardian Text Sans Web', Arial, sans-serif;
	font-size:16px;
	line-height:17px;
	font-weight:400;
	color:#767676;
}

#gu-graphic-view-2 {
	position:relative;
	width: 100%;
	margin:0;
}

#gu-graphic-view-2 .main-background-image {
	position:relative;
	width: 100%;
	margin:0;
	vertical-align:top;
}

#gu-graphic-view-2 .gu-graphic-view-step {
	position:relative;
	width: 100%;
	height: auto%;
	margin:0;
}

#gu-graphic-view-2 #gu-graphic-view-step-0 .gu-p0 {
	font-family:'Guardian Text Sans Web', Arial, sans-serif;
	font-size:16px;
	line-height:17px;
	font-weight:400;
	color:#767676;
}

#gu-graphic-view-2 #gu-graphic-view-step-0 .gu-p1 {
	font-family:'Guardian Text Sans Web', Arial, sans-serif;
	font-size:16px;
	line-height:17px;
	font-weight:400;
	text-align:right;
	color:#767676;
}

#gu-graphic-view-0 {
	display:block;
}

#gu-graphic-view-1 {
	display:none;
}

#gu-graphic-view-2 {
	display:none;
}
@media screen and (min-width: 860px) {
.gu-graphic-header h2 {
	font-size:25px;
	font-weight:600;
	line-height: 25px;
}

#gu-graphic-view-0 {
	display:none;
}

#gu-graphic-view-1 {
	display:block;
}

#gu-graphic-view-2 {
	display:none;
}
}
@media screen and (min-width: 1259px) {

#gu-graphic-view-0 {
	display:none;
}

#gu-graphic-view-1 {
	display:none;
}

#gu-graphic-view-2 {
	display:block;
}
}
</style>
