<div class='gusto-section-header map-header'>
	<h2 class='gusto-headline gusto-headline-border-top gusto-headline-medium'>{{ headline }}</h2>
	<p class='map-header-text'>{{{ caption }}}</p>
</div>
<!--START AI -->
<div class='gu-graphic' id='gu-graphic-20150529_migration_arrows_responsive'>
    <div class='gu-graphic-view' id='gu-graphic-view-0' >
        <div class='gu-graphic-view-step gu-graphic-view-step-0' id='gu-graphic-view-step-0' >
            <div class='gu-graphic-view-region gu-graphic-view-region-0' id='gu-graphic-view-region-0' style='width:100%;' >
            {{#windowWidth < 860}}<img class='main-background-image' decorator='lazyload:{src:"@@assetPath@@/imgs/20150529_migration_arrows_responsive-0-0-0.jpg",imgSizes:{{size}},srcAlt:{{src_alt}}, type: "image"}' />{{/windowWidth}}
                <div id='gu-g1' class='gu-position' style='left:27.0967741935484%;width:10.8103499873992%;top:65.7651300966587%;'>
                    <p class='gu-p0'>Niamey</p>
                </div>
                <div id='gu-g2' class='gu-position' style='right:32.741935483871%;top:61.0278114032553%;'>
                    <p class='gu-p1'>Khartoum</p>
                </div>
                <div id='gu-g3' class='gu-position' style='left:41.1290322580645%;top:56.290492709852%;'>
                    <p class='gu-p2'>Agadez</p>
                </div>
                <div id='gu-g4' class='gu-position' style='right:70.9677419354839%;top:55.1758294878747%;'>
                    <p class='gu-p1'>Gao</p>
                </div>
                <div id='gu-g5' class='gu-position' style='left:41.6129032258065%;width:9.38295425907258%;top:15.6052851076817%;'>
                    <p class='gu-p0'>Tripoli</p>
                </div>
                <div id='gu-g6' class='gu-position' style='left:27.4193548387097%;top:13.0972928582329%;'>
                    <p class='gu-p2'>Melilla</p>
                </div>
                <div id='gu-g7' class='gu-position' style='right:77.4193548387097%;top:11.9826296362556%;'>
                    <p class='gu-p1'>Ceuta</p>
                </div>
                <div id='gu-g8' class='gu-position' style='right:65%;top:42.6358682406304%;'>
                    <p class='gu-p1'>Tamanrasset</p>
                </div>
                <div id='gu-g9' class='gu-position' style='right:24.6774193548387%;top:73.010441039511%;'>
                    <p class='gu-p1'>Addis</p>
                    <p class='gu-p1'>Ababa</p>
                </div>
                <div id='gu-g10' class='gu-position' style='left:5.96774193548387%;top:21.7359328285567%;'>
                    <p class='gu-p2'>Canary</p>
                    <p class='gu-p2'>Islands</p>
                </div>
            </div>
        </div>
    </div>
    <div class='gu-graphic-view' id='gu-graphic-view-1' >
        <div class='gu-graphic-view-step gu-graphic-view-step-0' id='gu-graphic-view-step-0' >
            <div class='gu-graphic-view-region gu-graphic-view-region-0' id='gu-graphic-view-region-0' style='width:100%;' >
            {{#windowWidth < 1280 && windowWidth >= 860}}<img class='main-background-image' decorator='lazyload:{src:"@@assetPath@@/imgs/20150529_migration_arrows_responsive-1-0-0.jpg",imgSizes:{{size}},srcAlt:{{src_alt}}, type: "image"}' />{{/windowWidth}}
                <div id='gu-g1' class='gu-position' style='left:8.37209302325581%;top:22.961400097117%;'>
                    <p class='gu-p0'>Canary</p>
                    <p class='gu-p0'>Islands</p>
                </div>
                <div id='gu-g2' class='gu-position' style='left:34.3023255813954%;width:8.48547647165698%;top:67.8591377870154%;'>
                    <p class='gu-p1'>Nigeria</p>
                </div>
                <div id='gu-g3' class='gu-position' style='left:71.9767441860465%;width:8.8976199127907%;top:21.116287589313%;'>
                    <p class='gu-p2'>Jordan</p>
                </div>
                <div id='gu-g4' class='gu-position' style='left:72.7906976744186%;width:6.67713253997093%;top:7.38045003121618%;'>
                    <p class='gu-p1'>Syria</p>
                </div>
                <div id='gu-g5' class='gu-position' style='left:78.7209302325581%;width:5.76557957848837%;top:12.0957375511599%;'>
                    <p class='gu-p1'>Iraq</p>
                </div>
                <div id='gu-g6' class='gu-position' style='left:82.3255813953488%;width:8.21209574854651%;top:52.893225223716%;'>
                    <p class='gu-p1'>Yemen</p>
                </div>
                <div id='gu-g7' class='gu-position' style='left:81.5116279069767%;width:9.21670603197675%;top:77.9047503295041%;'>
                    <p class='gu-p1'>Somalia</p>
                </div>
                <div id='gu-g8' class='gu-position' style='left:63.1395348837209%;width:7.73948492005814%;top:45.922800194234%;'>
                    <p class='gu-p1'>Sudan</p>
                </div>
                <div id='gu-g9' class='gu-position' style='left:60%;width:7.39899391351744%;top:28.291725119662%;'>
                    <p class='gu-p1'>Egypt</p>
                </div>
                <div id='gu-g10' class='gu-position' style='left:46.7441860465116%;width:7.0641238190407%;top:29.5218001248647%;'>
                    <p class='gu-p1'>Libya</p>
                </div>
                <div id='gu-g11' class='gu-position' style='left:23.6046511627907%;width:6.15069722020349%;top:43.8726751855629%;'>
                    <p class='gu-p1'>Mali</p>
                </div>
                <div id='gu-g12' class='gu-position' style='right:25.1162790697674%;top:72.5744253069591%;'>
                    <p class='gu-p3'>Addis</p>
                    <p class='gu-p3'>Ababa</p>
                </div>
                <div id='gu-g13' class='gu-position' style='right:67.093023255814%;top:64.1689127714074%;'>
                    <p class='gu-p3'>Niamey</p>
                </div>
                <div id='gu-g14' class='gu-position' style='right:32.2093023255814%;top:60.068662754065%;'>
                    <p class='gu-p3'>Khartoum</p>
                </div>
                <div id='gu-g15' class='gu-position' style='right:60.6976744186046%;top:53.9182877280516%;'>
                    <p class='gu-p3'>Agadez</p>
                </div>
                <div id='gu-g16' class='gu-position' style='right:70%;top:54.73833773152%;'>
                    <p class='gu-p3'>Gao</p>
                </div>
                <div id='gu-g17' class='gu-position' style='left:42.7906976744186%;width:6.76439861918605%;top:14.9659125632995%;'>
                    <p class='gu-p4'>Tripoli</p>
                </div>
                <div id='gu-g18' class='gu-position' style='left:27.5581395348837%;top:12.5057625528941%;'>
                    <p class='gu-p0'>Melilla</p>
                </div>
                <div id='gu-g19' class='gu-position' style='right:76.9767441860465%;top:10.4556375442229%;'>
                    <p class='gu-p3'>Ceuta</p>
                </div>
                <div id='gu-g20' class='gu-position' style='right:64.1860465116279%;top:41.8225501768917%;'>
                    <p class='gu-p3'>Tamanrasset</p>
                </div>
            </div>
        </div>
    </div>
    <div class='gu-graphic-view' id='gu-graphic-view-2' >
        <div class='gu-graphic-view-step gu-graphic-view-step-0' id='gu-graphic-view-step-0' >
            <div class='gu-graphic-view-region gu-graphic-view-region-0' id='gu-graphic-view-region-0' style='width:100%;' >
                <div class='gu-graphic-view-region gu-graphic-view-region-0' id='gu-graphic-view-region-0' style='width:100%;' >
                {{#windowWidth >= 1280}}<img class='main-background-image' decorator='lazyload:{src:"@@assetPath@@/imgs/20150529_migration_arrows_responsive-2-0-0.jpg",imgSizes:{{size}},srcAlt:{{src_alt}}, type: "image"}' />{{/windowWidth}}
                    <div id='gu-g1' class='gu-position' style='left:35.4249404289118%;width:6.32225321435663%;top:67.9687499999999%;'>
                        <p class='gu-p0'>Nigeria</p>
                    </div>
                    <div id='gu-g2' class='gu-position' style='left:73.3915806195393%;width:6.07780232327244%;top:17.5%;'>
                        <p class='gu-p0'>Jordan</p>
                    </div>
                    <div id='gu-g3' class='gu-position' style='left:73.868149324861%;width:4.93261020651311%;top:2.5%;'>
                        <p class='gu-p0'>Syria</p>
                    </div>
                    <div id='gu-g4' class='gu-position' style='left:79.5869737887212%;width:4.23206817166402%;top:7.65624999999999%;'>
                        <p class='gu-p0'>Iraq</p>
                    </div>
                    <div id='gu-g5' class='gu-position' style='left:83.5583796664019%;width:6.11212550883638%;top:52.4999999999999%;'>
                        <p class='gu-p0'>Yemen</p>
                    </div>
                    <div id='gu-g6' class='gu-position' style='left:82.0492454328832%;width:6.88414509283161%;top:82.6562499999999%;'>
                        <p class='gu-p0'>Somalia</p>
                    </div>
                    <div id='gu-g7' class='gu-position' style='left:78.1572676727562%;width:7.18006137063145%;top:71.8749999999999%;'>
                        <p class='gu-p0'>Ethiopia</p>
                    </div>
                    <div id='gu-g8' class='gu-position' style='left:74.5035742652899%;width:6.07062742007546%;top:52.8124999999999%;'>
                        <p class='gu-p0'>Eritrea</p>
                    </div>
                    <div id='gu-g9' class='gu-position' style='left:64.2573471008737%;width:5.74895905728753%;top:45.4687499999999%;'>
                        <p class='gu-p0'>Sudan</p>
                    </div>
                    <div id='gu-g10' class='gu-position' style='left:61.0802223987291%;width:5.48728839853058%;top:25.78125%;'>
                        <p class='gu-p0'>Egypt</p>
                    </div>
                    <div id='gu-g11' class='gu-position' style='left:48.6100079428118%;width:5.23000024821287%;top:23.4375%;'>
                        <p class='gu-p0'>Libya</p>
                    </div>
                    <div id='gu-g12' class='gu-position' style='left:43.208895949166%;width:5.1384717533757%;top:46.0937499999999%;'>
                        <p class='gu-p0'>Niger</p>
                    </div>
                    <div id='gu-g13' class='gu-position' style='left:33.2009531374106%;width:6.29937109064734%;top:21.25%;'>
                        <p class='gu-p0'>Algeria</p>
                    </div>
                    <div id='gu-g14' class='gu-position' style='left:10.087370929309%;top:20.15625%;'>
                        <p class='gu-p1'>Canary</p>
                        <p class='gu-p1'>Islands</p>
                    </div>
                    <div id='gu-g15' class='gu-position' style='left:18.9833200953137%;width:7.3030818730143%;top:13.28125%;'>
                        <p class='gu-p0'>Morocco</p>
                    </div>
                    <div id='gu-g16' class='gu-position' style='left:25.6552819698173%;width:4.52802323272438%;top:46.4062499999999%;'>
                        <p class='gu-p0'>Mali</p>
                    </div>
                    <div id='gu-g17' class='gu-position' style='left:31.2152501985703%;top:63.1249999999999%;'>
                        <p class='gu-p2'>Niamey</p>
                    </div>
                    <div id='gu-g18' class='gu-position' style='right:31.3741064336775%;top:59.8437499999999%;'>
                        <p class='gu-p3'>Khartoum</p>
                    </div>
                    <div id='gu-g19' class='gu-position' style='left:40.9054805401112%;top:54.3749999999999%;'>
                        <p class='gu-p1'>Agadez</p>
                    </div>
                    <div id='gu-g20' class='gu-position' style='right:69.9761715647339%;top:54.6874999999999%;'>
                        <p class='gu-p3'>Gao</p>
                    </div>
                    <div id='gu-g21' class='gu-position' style='left:44.6386020651311%;top:10.9375%;'>
                        <p class='gu-p1'>Tripoli</p>
                    </div>
                    <div id='gu-g22' class='gu-position' style='left:27.4821286735504%;top:6.24999999999999%;'>
                        <p class='gu-p1'>Melilla</p>
                    </div>
                    <div id='gu-g23' class='gu-position' style='right:76.7275615567911%;top:4.99999999999999%;'>
                        <p class='gu-p3'>Ceuta</p>
                    </div>
                    <div id='gu-g24' class='gu-position' style='right:64.0190627482129%;top:39.2187499999999%;'>
                        <p class='gu-p3'>Tamanrasset</p>
                    </div>
                    <div id='gu-g25' class='gu-position' style='right:24.3844320889595%;top:74.0624999999999%;'>
                        <p class='gu-p3'>Addis</p>
                        <p class='gu-p3'>Ababa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END AI -->

<style>

img {
    width: 100%;
}

@media screen and (min-width: 860px) {
    .gusto-section-header {
        margin-left: 20px;
        top: 0;
        bottom: auto;
        position: absolute;
    }
}


.gu-position{
    position: absolute;
}
.gu-graphic {
    position:relative;
    height: auto;
    margin:0;
}
.gu-fadeable {
    opacity: 0;
}
.gu-fade-in {
    opacity: 1;
    transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    -webkit-transition: opacity .5s;
}
.gu-graphic .gu-graphic-view-region {
    position:relative;
    height: auto%;
    display: inline-block;
    margin:0;
    padding:0;
    background-repeat:no-repeat;
    background-size:100%;
    vertical-align:top;
}
.gu-graphic-header {
    position:relative;
    height:64px;
    border-top:2px solid #f0f0f0;
    padding-bottom:10px;
}
.gu-graphic-header h1 {
    padding:5px 0 0 0;
    margin:0;
    font-family:'Guardian Egyptian Web', Georgia, serif;
    font-size:20px;
    font-weight:600;
    line-height: 20px;
    color: #000;
}
.gu-graphic-header h2 {
    padding:5px 0 0 0;
    margin:0;
    font-family:'Guardian Egyptian Web', Georgia, serif;
    font-size:25px;
    font-weight:600;
    line-height: 25px;
    color: #808080;
}
.gu-graphic-header #gu-progress-counter {
    position:absolute;
    right:0;
    top:5px;
    font-family:'Guardian Text Sans Web', Arial, sans-serif;
    font-size:12px;
    font-weight:400;
    line-height: 12px;
    color: #808080;
}
.gu-graphic-header #gu-progress-counter span {
    color: #000;
}
.gu-graphic-header #gu-progress {
    width:100%;
    margin:6px 0 4px 0;
    height: 1px;
    background-color: #dcdcdc;
    position: relative;
}
.gu-graphic-header #gu-progress-inner {
    width:0%;
    margin:0;
    height: 1px;
    background-color: #000;
    position: absolute;
}
.gu-graphic-footer {
    position:relative;
    height:34px;
    border-top:2px solid #f0f0f0;
    margin-top:10px;
}
#gu-graphic-20150529_migration_arrows_responsive .gu-graphic-footer p {
    padding:8px 0 0 0;
    margin:0;
    font-family:'Guardian Text Sans Web', Arial, sans-serif;
    font-size:13px;
    line-height: 13px;
    color: #767676;
    display: inline-block;
}
.gu-graphic-footer p:nth-of-type(2) {
    float:right;
}
#gu-graphic-20150529_migration_arrows_responsive p {
    font-size:12px;
    line-height:1.35em;
    font-weight:normal;
    font-style:normal;
    margin:0;
}
#gu-graphic-20150529_migration_arrows_responsive p span {
    font-family:'Guardian Text Sans Web', Arial, sans-serif;
    font-weight:600;
    color:#000;
}
#gu-graphic-20150529_migration_arrows_responsive .tooltip-enabled:before,
#gu-graphic-20150529_migration_arrows_responsive .tooltip-enabled:after {
    visibility: hidden;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
    font-family:'Guardian Agate Sans', Arial, sans-serif;
}
#gu-graphic-20150529_migration_arrows_responsive .tooltip-enabled:before {
    position: absolute;
    bottom: 150%;
    left: -50%;
    margin-left: -70px;
    width: 160px;
    padding: 10px;
    background-color: #fff;
    color: #333;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    z-index: 2;
    border: 1px solid #dfdfdf;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px #dfdfdf;
    margin-bottom: 8px;
}
#gu-graphic-20150529_migration_arrows_responsive .tooltip-enabled:after {
    position: absolute;
    bottom: 150%;
    left: 0;
    margin-left: -50%;
    width: 0;
    border-top: 9px solid #fff;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    content: ' ';
    font-size: 0;
    line-height: 0;
    z-index: 3;
}
#gu-graphic-20150529_migration_arrows_responsive .tooltip-enabled:hover:before,
#gu-graphic-20150529_migration_arrows_responsive .tooltip-enabled:hover:after {
    visibility: visible;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    pointer-events: none;
}
#gu-graphic-20150529_migration_arrows_responsive .marker {
    position:absolute;
    width:10px;
    height:10px;
    background-color:#ff0000;
    border: 2px solid #fff;
    border-radius:50%;
    margin: -5px 0 0 -5px;
    cursor: pointer;
}
#gu-graphic-20150529_migration_arrows_responsive .number-marker {
    position:absolute;
    width:25px;
    height:25px;
    background-color:#ff0000;
    border: 2px solid #fff;
    border-radius:50%;
    margin: -5px 0 0 -5px;
    cursor: pointer;
}
#gu-graphic-20150529_migration_arrows_responsive .number-marker p {
    position:relative;
    width:100%;
    color:#ffffff;
    font-family:'Guardian Egyptian Web', Georgia, serif;
    font-size:16px;
    line-height: 16px;
    text-align: center;
    padding-top: 5px;
}
#gu-graphic-20150529_migration_arrows_responsive .box-overlay {
    position:absolute;
    background-size:100%;
    background-repeat:no-repeat;
    white-space: nowrap;
}
#gu-graphic-20150529_migration_arrows_responsive .box-overlay p {
    line-height:1.35em!important;
}
#gu-graphic-20150529_migration_arrows_responsive .complex-marker {
    position:absolute;
}
#gu-graphic-20150529_migration_arrows_responsive .complex-marker img {
    width:100%;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-0 {
    position:relative;
    width: 100%;
    margin:0;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-0 .main-background-image {
    position:relative;
    width: 100%;
    margin:0;
    vertical-align:top;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-0 .gu-graphic-view-step {
    position:relative;
    width: 100%;
    height: auto%;
    margin:0;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-0 #gu-graphic-view-step-0 .gu-p0 {
    font-family:'Guardian Text Sans Web', Arial, sans-serif;
    font-size:12px;

    line-height:17px;
    font-weight:400;
    text-align:center;
    color:#767676;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-0 #gu-graphic-view-step-0 .gu-p1 {
    font-family:'Guardian Text Sans Web', Arial, sans-serif;
    font-size:12px;

    line-height:17px;
    font-weight:400;
    text-align:right;
    color:#767676;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-0 #gu-graphic-view-step-0 .gu-p2 {
    font-family:'Guardian Text Sans Web', Arial, sans-serif;
    font-size:12px;

    line-height:17px;
    font-weight:400;
    color:#767676;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-1 {
    position:relative;
    width: 100%;
    margin:0;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-1 .main-background-image {
    position:relative;
    width: 100%;
    margin:0;
    vertical-align:top;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-1 .gu-graphic-view-step {
    position:relative;
    width: 100%;
    height: auto%;
    margin:0;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-1 #gu-graphic-view-step-0 .gu-p0 {
    font-family:'Guardian Text Sans Web', Arial, sans-serif;
    font-size:12px;

    line-height:17px;
    font-weight:400;
    color:#767676;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-1 #gu-graphic-view-step-0 .gu-p1 {
    font-family:'Guardian Egyptian Web', Georgia, serif;
    font-size:16px;
    line-height:63px;
    font-weight:600;
    text-align:center;
    color:#999999;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-1 #gu-graphic-view-step-0 .gu-p2 {
    font-family:'Guardian Egyptian Web', Georgia, serif;
    font-size:18px;
    line-height:63px;
    font-weight:600;
    text-align:center;
    color:#999999;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-1 #gu-graphic-view-step-0 .gu-p3 {
    font-family:'Guardian Text Sans Web', Arial, sans-serif;
    font-size:12px;

    line-height:17px;
    font-weight:400;
    text-align:right;
    color:#767676;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-1 #gu-graphic-view-step-0 .gu-p4 {
    font-family:'Guardian Text Sans Web', Arial, sans-serif;
    font-size:12px;

    line-height:17px;
    font-weight:400;
    text-align:center;
    color:#767676;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-2 {
    position:relative;
    width: 100%;
    margin:0;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-2 .main-background-image {
    position:relative;
    width: 100%;
    margin:0;
    vertical-align:top;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-2 .gu-graphic-view-step {
    position:relative;
    width: 100%;
    height: auto%;
    margin:0;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-2 #gu-graphic-view-step-0 .gu-p0 {
    font-family:'Guardian Egyptian Web', Georgia, serif;
    font-size:18px;
    line-height:63px;
    font-weight:600;
    text-align:center;
    color:#999999;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-2 #gu-graphic-view-step-0 .gu-p1 {
    font-family:'Guardian Text Sans Web', Arial, sans-serif;
    font-size:12px;

    line-height:17px;
    font-weight:400;
    color:#767676;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-2 #gu-graphic-view-step-0 .gu-p2 {
    font-family:'Guardian Text Sans Web', Arial, sans-serif;
    font-size:12px;

    font-weight:400;
    color:#767676;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-2 #gu-graphic-view-step-0 .gu-p3 {
    font-family:'Guardian Text Sans Web', Arial, sans-serif;
    font-size:12px;

    line-height:17px;
    font-weight:400;
    text-align:right;
    color:#767676;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-0 {
    display:block;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-1 {
    display:none;
}
#gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-2 {
    display:none;
}

.gu-graphic-view {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.map-header-text {
    line-height: 1.35;
}



@media screen and (min-width: 860px) {
    .gu-graphic-header h2 {
        font-size:25px;
        font-weight:600;
        line-height: 25px;
    }
    #gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-0 {
        display:none;
    }
    #gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-1 {
        display:block;
    }
    #gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-2 {
        display:none;
    }


    .map-header .gusto-headline-border-top::before {
        display: none;
    }

    #gu-graphic-20150529_migration_arrows_responsive {
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
    }

    .gu-graphic-view {
        border-top: none;
        border-bottom: none;
    }

    .gusto-section-header {
        max-width: 220px;
    }
}

@media screen and (min-width: 860px) {

    .gusto-section-header {
        margin-left: 20px;
        top: 0;
        bottom: auto;
        position: absolute;
    }

    #gu-graphic-20150529_migration_arrows_responsive {
        padding-left: 240px;
    }


    .gusto-section-header {
        max-width: 240px;
    }

    .map-header-text {
        width: 240px;
    }

}

@media screen and (min-width:1140px){

    #gu-graphic-20150529_migration_arrows_responsive {
        padding-left: 240px;
    }


    .gusto-section-header {
        max-width: 240px;
    }

    .map-header-text {
        width: 240px;
    }

}

@media screen and (min-width: 1300px) {
    
    #gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-0 {
        display:none;
    }
    #gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-1 {
        display:none;
    }
    #gu-graphic-20150529_migration_arrows_responsive #gu-graphic-view-2 {
        display:block;
    }

    #gu-graphic-20150529_migration_arrows_responsive {
        padding-left: 280px;
    }

    .gusto-section-header {
        max-width: 280px;
    }

    .map-header-text {
        width: 280px;
    }

}



.westAfrica {
    background-color: #9cd7e4;
    padding: 2px 5px;
    border-radius: 5px;
}

.eastAfrica {
    background-color: #cddf89;
    padding: 2px 5px;
    border-radius: 5px;
}

</style>