<!-- Section: Membership call out. Start. -->
<a id="gv-mem-ad" href="https://membership.theguardian.com/event/guardian-newsroom-migration-in-crisis-17080304651">
<div class="bg">
    <h1>Migration in crisis</h1>
    <p>Join our panel of Guardian reporters and commentators to discuss the human stories behind the rapidly escalating crisis </p>
    <div class="btn">Book now</div>
</div>
</a>
<!-- Section: Membership call out. End. -->
<style>
    #gv-mem-ad div {
         -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    a#gv-mem-ad, a#gv-mem-ad:active, a#gv-mem-ad:visited {
        text-decoration: none;
        color: #fff;
    }
    #gv-mem-ad .bg {
        width: 100%;
        background: url(http://interactive.guim.co.uk/2015/05/immigrant-journey/assets/membership_src/membership-event.jpg) no-repeat top center;
        background-size: cover;
        padding: 15px;
    }
    #gv-mem-ad h1 {
        margin: 0;
        font-size: 40px;
        color: #fff;
        font-family: "Guardian Text Egyptian Web", Georgia, serif;
        font-weight: normal;
        letter-spacing: 0.4px;
    }
    #gv-mem-ad p {
        font-family: "Guardian Text Egyptian Web", Georgia, serif;
        color: #dedede;
        margin: 5px 0 10px 0;
        font-size: 18px;
        font-weight: normal;
        line-height: 1.25;
        max-width: 70%;
    }
    #gv-mem-ad .btn {
        border-radius: 20px;
        background: #005689;
        color: #fff;
        display: inline-block;
        padding: 10px 15px;
        line-height: 18px;
        margin-top: 5px;
        font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
        font-size: 16px;
    }
    #gv-mem-ad .btn:hover {
        background: #003656;
    }
</style>