<!-- Section: Pull. Start. -->
<div class="gusto-section gusto-section-pull gusto-restrict-inner">
    <div class="gusto-pull gusto-pull-{{direction}} {{ extraClasses }}">
        {{#heading}}
        <h3 class="gusto-headline gusto-headline-small">
            {{heading}}
        </h3>
        {{/heading}}
        
        {{ #src }}
            <img class="gusto-photo gusto-photo-pull" alt="{{ alt }}" decorator='lazyload:{src:{{src}},imgSizes:[],  type: "image"  }' />
        {{ /src}}        
        
        {{ #each copy.replace(/[\r\n]+/g, '\n').split('\n') }}
            <p>{{{ this.trim() }}}</p>
        {{/each}}
    </div>
</div>
<!-- Section: Pull. end. -->