<!-- Section: Video showcase example. Start. -->
<figure class="gusto-section gusto-section-full gusto-section-video">
    <div class="{{ class }}">
        <video
            class="gusto-video {{ elmclass }}"
            preload="auto"
            decorator='lazyload:{src:{{src}}, type:"video" }'
            controls="controls">
        </video>
    </div>
    
	{{ #caption }}
        <figcaption class="gusto-caption gusto-restrict-inner left-column">
            {{{ caption }}}
        </figcaption>
	{{ /caption }}
</figure>
<!-- Section: Photo gallert example. End. -->