<!-- Section: Video showcase example. Start. -->
<figure class="gusto-section gusto-section-full gusto-section-video">
    <div class="{{ class }}">
        <video
            class="gusto-video {{ elmclass }}"
            poster="{{ poster }}"
            preload="auto"
            decorator='autoPlay:{ }'
            controls="controls">
            {{#m3u8}}<source src="{{ m3u8 }}" type="video/m3u8">{{/m3u8}}
            {{#mp4}} <source src="{{ mp4 }}" type="video/mp4">{{/mp4}}
            {{#webm}}<source src="{{ webm }}" type="video/webm">{{/webm}}
        </video>
    </div>
    
	{{ #caption }}
        <figcaption class="gusto-caption gusto-restrict-inner left-column">
            {{{ caption }}}
        </figcaption>
	{{ /caption }}
</figure>
<!-- Section: Photo gallert example. End. -->