<header>
  <h1>{{ title }}</h1>
  <h2>{{ description }}</h2>
  <details>
      <summary>Feed Story Description</summary> 
      {{ description }}
  </details>
  
  <time datetime="{{ pubDate }}" class="op-published">
    {{ pubDate }}
  </time>
  
  {{> (mediatype media) media }}
            
  {{#each authors}}
    <address>
        <a href="{{ this.authorlink }}" rel="facebook">
        {{ this.author}}
        </a>
        <span>{{ this.authorbio }} </span>
    </address>
  {{/each}}
  
</header>
