<figure {{#if data-feedback}} data-feedback="{{data-feedback}}" {{/if}} {{#if data-mode}} data-mode="{{data-mode}}" {{/if}}>
	<video {{#if autoplay}}autoplay{{/if}}  {{#if loop}}loop{{/if}} {{#if data-fade}}data-fade{{/if}}>
		{{#if src_alt}}
        <source src="{{ src_alt }}" type="video/mp4" />
        {{else}}
        <source src="{{ src }}" type="video/mp4" />
        {{/if}}


    </video>
    
	{{#if caption}}
        <figcaption class="op-center">
            {{ caption }}
        </figcaption>
	{{/if}}
</figure>
