/**
 * Project: Project name 
 * File:    Main SCSS
 */
$guss-webfonts-base-url: '//pasteup.guim.co.uk/fonts/';
@import 'bower_components/pasteup-palette/src/_palette';
@import 'bower_components/guss-webfonts/src/_webfonts.scss';
@import 'bower_components/guss-typography/_typography.scss';
@import 'modules/sample';
@include guss-webfonts();
@include guss-typography-defaults;

// From https://github.com/guardian/frontend/blob/master/static/src/stylesheets/_vars.scss
$breakpoints: (
    mobile:           320px,
    mobileLandscape:  480px,
    phablet:          660px,
    tablet:           740px,
    desktop:          980px,
    leftCol:          1140px,
    wide:             1300px
);

$outerColumnWidth: (map-get($breakpoints, 'wide') - map-get($breakpoints, 'phablet')) / 2;

// Reset
body,
figure {
    margin: 0;
    padding: 0;
    
    // Aspect ratio breakpoints
    @media screen and (max-aspect-ratio: 16/9) { 
          background: rgb(240, 255, 255) !important;
    }
    @media screen and (min-aspect-ratio: 16/9) { 
          background: rgb(255, 245, 255) !important;
    }
}

.interactive * {
    box-sizing: border-box;
}

.interactive {
    margin: 0;
}

.gusto-header {
    background-size: cover;
    height: 100vh;
    padding: 3rem 10px 1rem 10px;
    background-position: 50%;
    color: #FFF;
}

.gusto-restrict-inner {
    max-width:  map-get($breakpoints, 'phablet');
    margin: 0 auto;
    padding: 0 10px;
}

.gusto-restrict-outer {
    max-width: map-get($breakpoints, 'wide');
    margin: 0 auto;
    padding: 0 10px;
}

.gusto-headline {
    margin-top: 0;
}

.gusto-video {
    width: 100%;
}

.gusto-video-fullwidth {
    width: 100%;
    height: 100vh;
    background: #000;
}

.gusto-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


// Edge-2-edge
.gusto-edge-noclip {
    height: auto;
    width: 100vw;
    margin: 0 auto;
    display: block;
    
    @media screen and (min-aspect-ratio: 16/9) {
        height: 100vh;
        width: auto;
    }
}

.gusto-edge-clip {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: block;
    
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    
    @media screen and (min-aspect-ratio: 16/9) {
        height: auto;
        width: 100vw;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
}
.gusto-edge-clip-container {
    overflow: hidden;
    width: 100%;
    
    @media screen and (min-aspect-ratio: 16/9) {
        height: 100vh;
    }
}


@keyframes photoPanAnimation {
  0%   { transform: translateX(-50%); }
  50%  { transform: translateX(-100%); }
  0%   { transform: translateX(-50%); }
}

.gusto-edge-clip-anim {
//    left: 100%;
//    animation: photoPanAnimation calc(2*60s) infinite; 
//    transition-timing-function: ease-in-out;  
}


// Figure caption
.gusto-caption {
    font-family: 'Guardian Text Sans Web';
    font-size: 0.8rem;
    text-align: left;
}

// Pull blocks
.gusto-section-pull {
    margin: 0 auto;    
}

.gusto-pull {
    font-family: 'Guardian Text Sans Web';
    font-size: 0.8rem;
    overflow: hidden;
    width: auto;
        
    @media only screen and (min-width: map-get($breakpoints, 'desktop')) {
        width: calc((100vw - 660px )/ 2);
    }
    @media only screen and (min-width: map-get($breakpoints, 'wide')) {        
        max-width: $outerColumnWidth;
    }
    
}
.gusto-pull-left {
    padding-right: 10px;
    @media only screen and (min-width: map-get($breakpoints, 'desktop')) {
        float: left;
        margin-left: calc(((100vw - 660px) /2) * -1);
    }
    @media only screen and (min-width: map-get($breakpoints, 'wide')) {
        margin-left: $outerColumnWidth * -1;
    }
}
.gusto-pull-right {
    padding-left: 10px;
    @media only screen and (min-width: map-get($breakpoints, 'desktop')) {
        float: right;
        margin-right: calc(((100vw - 660px) /2) * -1);
    }
    @media only screen and (min-width: map-get($breakpoints, 'wide')) {
        margin-right: $outerColumnWidth * -1;
    }
 }

// Photos
.gusto-photo-pull {
    float: left;
    margin: 0 4px 4px 0;
}

.gusto-section-photo .gusto-photo {
    width: 100%;
}

.gusto-section-photo .gusto-photo.gusto-edge-clip {
    width: auto;
}


// Gallery
.gusto-section-gallery {
    overflow: hidden;
    clear: both;
    text-align: center;
}

.gusto-gallary-photo {
    padding: 2px;
    box-sizing: border-box;
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
}


// Author meta
.gusto-author-photo {
  float: left;
  margin: 0 10px 10px 0; 
}

.gusto-author-copy {
    margin: 0;
}