/**
 * Project: Project name
 * File:    Main SCSS
 */
$guss-webfonts-base-url: '//pasteup.guim.co.uk/fonts/';
@import 'bower_components/pasteup-palette/src/_palette';
@import 'bower_components/guss-webfonts/src/_webfonts.scss';
@import 'bower_components/guss-typography/_typography.scss';
@import 'modules/columns';
@import 'modules/swiper';
@import 'bower_components/sass-mq/mq';
@include guss-webfonts();
@include guss-typography-defaults;

// From https://github.com/guardian/frontend/blob/master/static/src/stylesheets/_vars.scss
$breakpoints: (
    mobile:           320px,
    mobileLandscape:  480px,
    phablet:          660px,
    tablet:           740px,
    desktop:          980px,
    leftCol:          1140px,
    wide:             1300px
);

$colWidth: 220px;

$outerColumnWidth: (map-get($breakpoints, 'wide') - map-get($breakpoints, 'phablet')) / 2;

// Reset
body,
figure {
    margin: 0;
    padding: 0;

    // Aspect ratio breakpoints
    @media screen and (max-aspect-ratio: 16/9) {
          //background: rgb(240, 255, 255) !important;
    }
    @media screen and (min-aspect-ratio: 16/9) {
          //background: rgb(255, 245, 255) !important;
    }
}

body figure.interactive {
    margin: 0;
    position: relative;
    background: #ebebeb;
}

.interactive * {
    box-sizing: border-box;
}

/* blocks and insets */
.gusto-block--pull,
.gusto-block--pullByline,
.gusto-block--copy,
.gusto-block--image,
.gusto-block--video,
.gusto-block--map,
.gusto-block--mapSea,
.gusto-block--gallery,
.gusto-header-content {
    padding: 0 10px;
    max-width: 1140px;
    margin: auto;
    @include mq(desktop) {
        padding: 0;
    }
    @include mq(wide) {
        max-width: 1300px;
    }
}

.gusto-block--copy,
.gusto-block--gallery,
.gusto-block--map,
.gusto-block--mapSea,
.gusto-block--image,
.gusto-block--video {
    background-color: #f1f1f1;
}

.gusto-block--gallery,
.gusto-block--map,
.gusto-block--mapSea,
.gusto-block--image {
    &:before,
    &:after {
        display: table;
        content: '';
        clear: both;
    }
}

.gusto-block--gallery,
.gusto-block--map,
.gusto-block--mapSea,
.gusto-block--image {
    position: relative;
}

.gusto-block--pull,
.gusto-block--pullByline,
.gusto-block--copy {
    @include mq(desktop) {
        padding: 0 20px;
    }
}

.gusto-block--pull,
.gusto-block--pullByline {
    @include mq($until: desktop) {
        background-color: #f1f1f1;
        &:before, &:after {
            display: table;
            content: '';
            clear: both;
        }
    }
    @include mq(desktop) {
        position: absolute;
        left: 0;
        right: 0;
    }
}

/* left-col indenting */
.gusto-block--copy {
    @include mq(desktop) {
        padding-left: 260px;
    }
}

/* inner body */
.gusto-inner-body {
    max-width: 620px;
    @include mq($until: desktop) {
        margin: auto;
    }
}

.gusto-inner-body--text {
    margin: 0 auto;
    position: relative;
    z-index: 1;
    @include mq(desktop) {
        margin: 0;
    }
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

/* header */
.gusto-section-header {
    padding-top: 12px;
    z-index: 1;
    p {
        margin-top: 0;
        line-height: 1.25;
        font-size: 14px;
        color: #333;
    }

    @include mq(desktop) {
        position: absolute;
        width: $colWidth;
        left: 0;
        margin-left: 10px;
        .gusto-block--gallery & {
            bottom: 100%;
        }
    }
}

.gusto-header-content {
    max-width: 620px;
    @include mq(wide) {
        max-width: 1300px;
    }
}

/* blocks */
.gusto-image--inner {
    max-width: 620px;
    margin: auto;
    .gusto-photo {
        width: 100%;
    }
    @include mq(desktop) {
        margin-left: 260px;
    }
}


.gusto-block--copy {
    q {
        background: rgba(255, 216, 108, 0.5);
        padding: 2px 5px;
        border-radius: 5px;
        &:before, &:after {
            content: none;
        }
    }
}


.horizontal3x4 .gusto-photo {
    background: #DFDFDF;
}

.gusto-block--copy > .gusto-inner-body {
    .podcastPlayer--copy + p { margin-top: 0; }
    p:first-child { margin-top: 0; }
    p:last-child { margin-bottom: 0; }
    padding-top: 12px;
    padding-bottom: 12px;
    .gusto-block--copy + & {
        padding-top: 0;
    }
}

.gusto-section {
    max-width: 620px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin: auto;
    position:relative;
}

.gusto-viewport-full {
    position: relative;
    z-index: 1;
}

.gusto-header {
    background-size: cover;
    height: 80vh;
    background-position: 50%;
    color: #FFF;
    position: relative;
    overflow: hidden;
}

.gusto-header-video {
    position: absolute;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    width: auto !important;

    @media (min-aspect-ratio: 16/9) {
        top: 50%;
        transform: translateY(-50%);
    }

    @media (max-aspect-ratio: 16/9) {
        transform: translateX(-50%);
        left: 50%;
    }
}

.gusto-header-content-inner {
    position: absolute;
    padding: 20px 10px;

    &.top {
        top: 0;
    }
    &.bottom {
        bottom: 0;
    }
    &.left {
        left: 0;
    }
    &.right {
        right: 0;
    }
    &.shadow {
        text-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

}

.gusto-header-content {
    width: 100%;
    height: inherit; // Fixes Safari vh bug
    margin: 0px auto;
    position: relative;
    z-index: 1;
}

.gusto-headline {
    margin: 0;
}

.gusto-headline-big {
    font-size: 36px;
    line-height: 1;
    margin: 0;
}

.gusto-headline-medium {
    line-height: 1;
    font-size: 18px;
    color: #767676;
    margin-bottom: 5px;
}

.gusto-sub-heading {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}

.gusto-kicker {
    font-weight: 200;
    font-size: 24px;
    margin: 0;
}


@media (min-width: 980px) {
    .gusto-section-header-has-audio {
        padding-left: 40px;
    }
}

.gusto-audio-player p {
    margin-top: 0;
        line-height: 1.25;
        font-size: 14px;
        color: #333;
}

.gusto-headline-border-top::before {
    width: 110px;
    height: 1px;
    background: #dcdcdc;
    content: '';
    position: absolute;
    top: 0;
}


// Edge-2-edge
.gusto-edge-noclip {
    height: auto;
    width: 100vw;
    margin: 0 auto;
    display: block;

    @media screen and (min-aspect-ratio: 16/9) {
        height: 100vh;
        width: auto;
    }
}

.gusto-edge-clip {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: block;

    transform: translateX(-50%);
    left: 50%;
    position: relative;

    @media screen and (min-aspect-ratio: 16/9) {
        height: auto;
        width: 100vw;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
}
.gusto-edge-clip-container {
    overflow: hidden;
    width: 100%;

    @media screen and (min-aspect-ratio: 16/9) {
        height: 100vh;
    }
}


@keyframes photoPanAnimation {
  0%   { transform: translateX(-50%); }
  50%  { transform: translateX(-100%); }
  0%   { transform: translateX(-50%); }
}

.gusto-edge-clip-anim {
//    left: 100%;
//    animation: photoPanAnimation calc(2*60s) infinite;
//    transition-timing-function: ease-in-out;
}


// Figure caption
.gusto-caption {
    font-family: 'Guardian Text Sans Web', sans-serif;
    font-size: 0.9rem;
    text-align: left;
    color: #767676;
}

// Pull blocks
.gusto-section-pull {
    margin: 0 auto;
}

.gusto-pull {
    font-size: 16px;
    width: auto;
    top: 0 !important;
    max-width: 620px;
    margin: 0 auto;

    &::before {
        content: initial !important;
    }

    @include mq(desktop) {
        margin: 0;
        width: 200px !important;
    }

    @include mq(wide) {
        max-width: $outerColumnWidth;
    }

    .gusto-photo-pull {
        float: left;
        margin: 0 4px 4px 0;
        border-radius: 100px;
        width: 40px;
    }

    .gusto-date-published {
        font-family: 'Guardian Text Sans Web', sans-serif;
        font-size: 12px;
    }
    .gusto-byline-share  {
        display: none;
    }
    .gusto-photo-byline {
        p {
            font-size: 14px;
            margin-bottom: 0;
        }
    }

    .byline-name {
        font-weight: 500;
    }

    @include mq(desktop) {
        .gusto-photo-byline {
            padding-top: 24px;

            p {
                border-top: 1px dotted #ccc;
                padding: 5px 0;
                font-size: 16px;
            }
        }
        .gusto-date-published {
            border-top: 1px dotted #ccc;
            min-height: 45px;

        }

        .gusto-byline-share {
            border-top: 1px dotted #ccc;
            border-bottom: 1px dotted #ccc;
            min-height: 40px;
            padding: 10px 0;
            display: block;
        }

        .gusto-photo-pull {
            width: 110px;
            float: none;
        }
    }
}


// Photos

.gusto-section-photo .gusto-photo {
    width: 100%;
}

.gusto-section-photo .gusto-photo.gusto-edge-clip {
    width: auto;
}


// Gallery
.gusto-block--gallery .gusto-section-header {
    @include mq($until: desktop) {
        overflow: hidden;
        max-width: 620px;
        margin: auto;
        &:after {
            display: table;
            content: '';
            clear: both;
        }
    }
}

.gusto-gallery-photo {
    box-sizing: border-box;
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
    width: 100%;

}

.swipe .gusto-gallery-photo {
    width: 100%;
    padding: 0;
}


/* VIDEO BLOCK */
.gusto-video--inner {
    max-width: 620px;
    margin: auto;
    video {
        width: 100%;
    }
    @include mq(desktop) {
        margin-left: 260px;
    }
}

.gusto-block--video {
    .gusto-video--supporting {
        max-width: 620px;
        margin: auto;
        video {
            max-height: 600px
        }
    }
    @include mq(desktop) {
        &.gusto-block--supporting {
            margin-bottom: -20px;
            .gusto-video--supporting {
                float: right;
                width: 220px;
                margin-right: 20px;
            }
        }
    }

}
.gusto-video--outer {
    .gusto-caption {
        max-width: 620px;
        margin: auto;
    }
}

.gusto-video {
    .gusto-caption {
        margin-top: 6px;
    }
    video {
        width: 100%;
        display: block;
        background: #000;
        cursor: pointer;
        z-index: 1;
    }
}

.gusto-video-wrapper {
    position: relative;
    padding: 0;

    &:hover .gusto-video-cover {
        opacity: 1;
    }
}

.gusto-video-cover {
    position: absolute;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 899999999;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gusto-android .gusto-video-cover,
.gusto-global-pause .gusto-desktop  .gusto-video-cover {
    opacity: 1;
}

 .gusto-android .isPlaying .gusto-video-cover {
    opacity: 0;
}

.gust-video-play-btn {
    width: 80px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    .guPause {
        display: none;
    }
}

.isPlaying {
    .guPause {
        display: block;
    }

    .guPlay{
        display: none;
    }
}

// Author meta
.gusto-author-photo {
  float: left;
  margin: 0 10px 10px 0;
}

.gusto-author-copy {
    margin: 0;
}

@include mq(desktop) {

    .gusto-header-content-inner {
        max-width: 460px;
    }

    .gusto-headline-big {
        font-size: 54px;
    }
}

@media (min-width: 1140px){

    .gusto-header-content-inner {
        max-width: 640px;
    }

    .gusto-headline-big {
        font-size: 60px;
    }

    .gusto-section-header-left {
        overflow: visible;
    }
}

@media (min-width: 1300px){

    .gusto-headline-big {
        font-size: 72px;
    }
}
